<!DOCTYPE html>
<html lang="en">
  <head>
    <title>driver-rider matching</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <% include ./parts/navbar %>


    <div class="container">


      <%- body -%>
    </div> <!-- /container -->
    <% include ./parts/footer %>

  </body>
</html>
