<% layout('layout') %>

<div class="container">
  <h2>This page will periodically request driver's location
  </h2>
  <button class="btn btn-success btn-large" onclick="updateLocation()">Update location</button>
  <br>
  <br>
  <h3>Updated <span id=updateInfo>0</span> times</h3>

</div> <!-- /container -->

<script src="assets/js/getLocation.js"></script>
