<% layout('layout') %>

<div class="container">
  <h2>This page will request rider's location and
    then return the cloest driver's location and
    time required to arrive
  </h2>
  <button class="btn btn-success btn-large" onclick="getLocation()">Request a ride</button>


</div> <!-- /container -->

<script src="assets/js/getLocation.js"></script>
