<% layout('layout') %>

<div class="container">
  <% if (user.type === 'rider') { %>
    <div class="row">
      <h2>This page will request rider's location and
        then return the cloest driver's location and
        time required to arrive
      </h2>
      <button class="btn btn-success btn-large" onclick="requestRide()">Request a ride</button>
    </div> <!-- /row -->
    <div class="row">
      <div class="text-center" id="loading">
      </div> <!-- /row -->
    </div>
  <% } else { %>
    <h2> Sorry, you are currently signed in as a Driver </h2>
    <h3> Please sign in as a Rider to request a ride </h3>
  <% } %>
</div> <!-- /container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script src="assets/js/getLocation.js"></script>
