<% layout('layout') -%>

<div class="container">
  <h1> This is the about page </h1>
  <p> application design and architecture will go here </p>
  <p> along with intro about Apache Smaza, kafka YRAN </p>
</div>
