<% layout('layout') -%>

<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Start your riding</h2>
      <p>Always the ride you want</br>The best way to get wherever you’re going</p>
      <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up as rider &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Start your driving</h2>
      <p>Work that puts you first</br>Drive when you want, earn what you need</p>
      <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up as driver &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Learn more</h2>
      <p>Get there</br>Your day belongs to you</p>
      <p><a class="btn btn-primary btn-lg" href="/about" role="button">View details &raquo;</a></p>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->
