<% layout('layout') -%>
<h1>Find your nearest driver</h1>
<p>A Apache Samza based web application for driver-rider matching</p>

<h1>Signup to start</h1>
<p>signup here includes email, user name and password</p>
